// background-colors
@black: #000000;
@white: #ffffff;
@sugar: #e9e9e8;
@blue: #30619b;
@gray: #43506c;
@light-gray: #f0f0ef;
@red: #ef4b4c;
@green: #84ce95;
@dark-gray: #d9d9d9;
@smoke: #495570;

// font-colors
@font-dark-gray: #7d869a;
@font-gray: #939baa;
@font-darker-gray: #515e77;

//borders
@border-gray: #dfdfdf;
